.growthview {
  vertical-align: top;
  width: 100%;
}
.growthfooter {
  height: 40px;
}

.growthvispanel {
  display: inline-block;
  margin: 0 10px 0 10px;
}
.growthpaneltitle {
  margin: 0px;
  font-weight: bold;
}

.growthcanvas {
  width: 100%;
  height: 600px;
  background-color: #ffffffff;
}

.growthabout {
  width: 650px;
  margin: 0 auto;
}

